html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.register { background-color: #EFEFEF; padding: 20px; }
.register p { padding: 5px; }

input[type="text"], select, textarea {
    width: 100%;
    border: 2px solid #CFCFCF;
    padding: 3px 10px;
}

input[type="text"]:focus, select:focus, textarea:focus {
    outline: none;
    border: 2px solid #AFAFAF;
}

label {
    width: 100%;
}
